.sidebar {
  width: 250px;
  padding: 50px 0;
}

.content-wrapper {
  margin-left: 250px;
  padding: 50px 10px;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr {
  background-color: rgb(241, 241, 241);
  border: 1px solid #ddd;
}

table th,
table td {
  padding: 10px;
  text-align: center;
}

/* https://getcssscan.com/css-buttons-examples */
.btn {
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
}

.btn-red {
  background-color: #ff0000;
}

.btn-red:hover,
.btn-red:focus {
  background-color: #ffffff;
  color: #ff0000;
  border: 1px solid #ff0000;
}

.btn-orange {
  background-color: #ff5e00;
}

.btn-orange:hover,
.btn-orange:focus {
  background-color: #ffffff;
  color: #ff5e00;
  border: 1px solid #ff5e00;
}

.btn-blue {
  background-color: #005eff;
}

.btn-blue:hover,
.btn-blue:focus {
  background-color: #ffffff;
  color: #005eff;
  border: 1px solid #005eff;
}

.form-container {
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(241, 241, 241);
  font-size: 20px;
}

input[type="text"],
select {
  width: 100%;
  font-size: 20px;
}

.col-25 {
  float: left;
  width: 25%;
}

.col-75 {
  float: left;
  width: 75%;
}

.row {
  padding: 5px 0px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.align-right {
  text-align: right;
}